<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="yamlreader" class="com.torana.training.snmpServices.YamlReader"/>
    <bean id="neo4jdao" class="com.torana.training.snmpServices.Neo4jDAO"/>

</beans>